.page-num {
  width: fit-content;
  height: 20px;
  background: $gray-150;
  padding: 5px 12px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  @include typography(16);
  line-height: 20px;
}
