@import '@styles/main.scss';
@import '@styles/mixin.scss';

.header-box {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  .btn {
    width: 30px;
    height: 30px;
    padding: 23px;
    @include mobile() {
      width: 23px;
      height: 23px;
    }
    cursor: pointer;
  }
  .more {
    margin: 0 0 0 auto;
  }
}
