.responsive-img {
  position: relative;
  width: 100%;
  border-radius: 10px;
  img {
    object-fit: cover;
    border-radius: 10px;
  }
}
.responsive-img::after {
  display: block;
  content: '';
  padding-bottom: 100%;
}

.inner {
  position: absolute;
  width: 100%;
  height: 100%;
}
