.not-found {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .img-box {
    width: 400px;
    height: 220px;
    user-select: none;
    @include mobile() {
      width: 200px;
      height: 110px;
    }
  }
  .go-back {
    @include typography(18);
    @include mobile() {
      @include typography(12);
    }
    color: $third;
    font-weight: 600;
  }
}
