@import '@styles/main.scss';

.img-box {
  position: relative;
  width: auto;
  height: auto;
  border-radius: $border-radius;
  background-color: $gray-500;
  img {
    object-fit: contain;
    border-radius: $border-radius;
    -webkit-user-drag: none;
  }
  .selected-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $img-box-clicked;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid $primary;
    .icon {
      path {
        stroke: $white;
      }
    }
  }
}

.click-mode {
  cursor: pointer;
}
