@import '@styles/main.scss';

.img-box {
  border-radius: $border-radius;
  background-color: $gray-500;
  img {
    object-fit: contain;
    border-radius: $border-radius;
    -webkit-user-drag: none;
  }
}

.click-mode {
  cursor: pointer;
}

.selected {
  border: 2px solid $primary;
}
