.sort-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 18px 23px;
  @include typography(14);
  .check-box {
    display: flex;
    cursor: pointer;
    &-label {
      margin-left: 9px;
    }
  }
}
