.codi-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 71px 23px 0;
  @include typography(16);
  font-weight: 700;
}

.look-around {
  display: flex;
  align-items: center;
}
.arrow {
  margin-left: 10px;
  transform: rotate(270deg);
}
