.login {
  position: relative;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $black-600;
  font-family: 'Montserrat Alternates', sans-serif;
  color: $white;

  .title {
    z-index: 1;
    margin-bottom: 1px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.02em;
    @include mobile() {
      font-size: 30px;
      line-height: 45px;
    }
  }
  .decription {
    z-index: 1;
    font-weight: 700;
    @include typography(20);
    text-align: center;
    @include mobile() {
      @include typography(14);
    }
  }
}

.login-btn {
  margin-bottom: 10px;
  &:last-child {
    margin: 0;
  }
}

.google-login {
  color: $google-login-label;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
