.info-article {
  margin-bottom: 47px;
  &:last-of-type {
    margin: 0;
  }
  &-header {
    @include required-header(10px);
    .required-msg {
      margin-left: 7px;
    }
  }
}
.children-box {
  margin-bottom: 20px;
  .label {
    font-weight: 400;
  }
}
