.info-article {
  position: relative;
  margin-bottom: 47px;
  &:last-of-type {
    margin: 0;
  }
  &-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &-text {
      @include required-header(0);
      .required-msg {
        margin-left: 7px;
      }
    }

    .description {
      margin-top: 4px;
      color: $black-200;
    }
  }
}

.children-box {
  margin-bottom: 20px;
  .label {
    font-weight: 400;
  }
}
