.filter-modal {
  @include modal(0px);
  height: calc(100% - 60px);
  top: 60px;
}

.filter-container {
  overflow-y: auto;
  height: calc(100% - 150px);
  padding: 35px 24px 35px;
  background-color: $white;
}

.clear {
  width: 100%;
  height: 100%;
  margin-right: 5px;
  background-color: $gray-280;
  color: $black-600;
}
