.product-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray-280;
  padding: 20px 23px;
  background-color: $white;
  cursor: pointer;

  @include laptop() {
    &:last-child {
      border-bottom: 0;
    }
    &:nth-last-child(2) {
      border-bottom: 0;
    }
  }
  &:last-child {
    border-bottom: 0;
  }

  .soldout-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .text-box {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 16px;

    .title {
      @include textOverflow();
    }

    .size-like {
      margin-top: 7px;
      color: $gray-550;
    }

    .price {
      margin-top: 10px;
      color: $primary;
    }

    .date {
      margin-top: 7px;
      color: $gray-550;
      text-align: right;
    }
  }
}
