.products-box {
  padding: 47px 23px;

  .current-products {
    overflow: hidden;
    &-box {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 12px;
      margin-top: 14px;
      flex-wrap: wrap;
    }
  }
  .no-products {
    display: flex;
  }
}
