.today-recommend {
  overflow-x: hidden;
  position: relative;
  left: calc(50% - 23px);
  transform: translateX(-50%);
  max-width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 97px 23px 15px;
  padding-top: 20px;
  border-radius: 19px;
  background-color: rgba($second, 0.25);
}

.circle {
  z-index: -1;
  position: absolute;
  top: 90px;
  right: 0;
  @include mobile() {
    right: -20px;
  }
}

.star {
  z-index: -1;
  position: absolute;
  top: 20px;
  left: 0;
  @include mobile() {
    left: -30px;
  }
}
