.select-box {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: $white;
  @include border(border, 5px, $gray-280);
  &,
  button {
    @include typography(16);
  }
  button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
  }
  &-clicked {
    border-color: $black-600;
  }
}

.gender-box {
  border: none;
  font-weight: 700;
  button {
    .gender-text {
      border-radius: 2px;
      margin-right: 14px;
      padding: 1px 4px 2px;
      background-color: $black-600;
      color: $white;
    }
    .arrow {
      width: 24px;
      height: 12px;
      margin: 0;
    }
  }
}

.select-wrapper {
  z-index: 10;
  position: absolute;
  left: 0;
  width: 100%;
  @include border(border, 5px, $black-600);
  background-color: $white;

  .select-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 10px;
    border-bottom: 1px solid $black-600;
    cursor: pointer;
    &-gender {
      justify-content: space-between;
    }
    &:last-child {
      border: 0;
    }
    &-clicked {
      background-color: $clicked-background;
      font-weight: 600;
    }
  }

  .select-hover {
    &:hover,
    &:focus {
      background-color: $clicked-background;
      font-weight: 600;
    }
  }

  .gender-item-clicked {
    color: $primary;
    font-weight: 700;
  }

  .gender-hover {
    &:hover,
    &:focus {
      color: $primary;
    }
  }
}

.check-icon {
  margin-left: auto;
  path {
    stroke: $primary;
  }
}

.arrow {
  margin: 0 0 0 auto;
  &-clicked {
    transform: rotate(180deg);
  }
}
