.input-range {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  label {
    font-size: 15px;
    color: $gray-700;
  }
  .input {
    z-index: 1;
    @include input-range(29px, 16px, -3px);
  }
  .info {
    right: 0;
    color: $primary;
    font-size: 16px;
    font-weight: 700;
  }

  .track {
    z-index: 0;
    position: relative;
    width: calc(100% - 29px);
    height: 10px;
    background-color: $gray-150;
    border-radius: $border-radius;
    &::after {
      content: '';
      z-index: 0;
      position: absolute;
      left: -14.5px;
      width: calc(100% + 29px);
      height: 10px;
      background-color: $gray-150;
      border-radius: $border-radius;
    }
    .range {
      z-index: 1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: $border-radius;
      background-color: $primary;
    }
    .thumb {
      z-index: 1;
      position: absolute;
      top: -3px;
    }
    .left {
      left: 0px;
      transform: translateX(-14.5px);
    }
    .right {
      right: 0px;
      transform: translateX(14.5px);
    }
  }
}
