.btn-footer {
  @include btn-footer();
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 31px 30px;
  .btn {
    max-width: 962px;
    width: 100%;
    @include mobile() {
      width: 100%;
    }
    height: 50px;
  }

  .error-msg {
    position: absolute;
    top: 50px;
    margin: 5px auto 0;
    font-weight: 700;
    @include typography(16);
    @include mobile() {
      @include typography(14);
    }
    color: $third;
  }
}
