.main-header {
  @include header(0px);
  background-color: $white;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 23px 15px;
  }
}

.title {
  z-index: 1;
  margin-bottom: 1px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  @include typography(20);
}

.login {
  width: fit-content;
  border-radius: $border-radius;
  padding: 6px 11px;
  background-color: $primary;
  color: $white;
  font-weight: 600;
  @include typography(13);

  &:hover {
    background-color: rgba($primary, 0.8);
    color: $white;
  }
}
