.category-dialog {
  @include modal();
  bottom: 0;
  height: 70%;
  background-color: $white;
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 0px 0px;

  .dialog-header {
    padding: 20px 23px;
    border-bottom: 1px solid $gray-280;
  }

  .dialog-body {
    display: flex;
    flex-direction: column;
    padding: 20px 23px;
  }
}
