.text-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background: $white;
  border: 1px solid $gray-280;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 400;
  @include typography(16);
  &::placeholder {
    color: $gray-280;
  }
}
