.footer {
  @include btn-footer(true);
  @include fixed-template(0px);
  align-items: center;
  justify-content: center;

  &-wrapper {
    padding: 0 31px 30px;
    width: 100%;
  }

  .error-msg {
    position: absolute;
    top: 50px;
    margin: 5px auto 0;
    font-weight: 700;
    @include typography(16);
    @include mobile() {
      @include typography(14);
    }
    color: $third;
  }
}
