@import '@styles/main.scss';
@import '@styles/_mixin.scss';

.basic-info {
  .height-input {
    @include tablet() {
      width: 50%;
    }
    display: flex;
    align-items: center;
    .height-cm {
      margin-left: 15px;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: $black-600;
    }
  }
}
