.product-footer {
  @include btn-footer();
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  .footer-wrapper {
    max-width: 1024px;
    width: 100%;
    .icon-text-box {
      height: 40px;
      display: flex;
      box-sizing: border-box;
      border-bottom: 1px solid $gray-500;
      background-color: $product-footer-icon-box;
    }
    .attractive-box {
      display: flex;
      align-items: center;
      padding: 10px 23px;
      .price-box {
        display: flex;
        flex-direction: column;
        margin-left: 18px;
        .delivery {
          font-size: 14px;
          line-height: 17px;
          @include mobile() {
            font-size: 10px;
            line-height: 12px;
          }
        }
        .price {
          font-size: 24px;
          line-height: 26px;
          @include mobile() {
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
      .product-btn {
        width: 110px;
        height: 40px;
      }
    }
  }
}
