.info-article {
  position: relative;
  margin-bottom: 47px;
  &:last-of-type {
    margin: 0;
  }
  &-header {
    margin: 0 0 10px 0;

    &-text {
      @include required-header(0);
    }
  }
}

.description {
  margin-top: 4px;
  color: $black-200;
}

.children-box {
  margin-bottom: 20px;
  .label {
    font-weight: 400;
  }
}
