.profile-container {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  background-color: $primary;
  border-radius: 19px;
  cursor: pointer;
  &:hover {
    background-color: rgba($primary, 0.8);
  }

  .arrow {
    width: 10px;
    height: 8px;
    margin: 0 6px 0 auto;
  }
}

.profile {
  display: flex;
  align-items: center;
  padding: 4px;

  .name {
    margin-left: 6px;
  }
}
