@mixin loading() {
  @-webkit-keyframes loading {
    0% {
      background-color: $skeleton-start;
    }
    50% {
      background-color: $skeleton-mid;
    }
    100% {
      background-color: $skeleton-start;
    }
  }

  @-moz-keyframes loading {
    0% {
      background-color: $skeleton-start;
    }
    50% {
      background-color: $skeleton-mid;
    }
    100% {
      background-color: $skeleton-start;
    }
  }

  @keyframes loading {
    0% {
      background-color: $skeleton-start;
    }
    50% {
      background-color: $skeleton-mid;
    }
    100% {
      background-color: $skeleton-start;
    }
  }
  -webkit-animation: loading 1.8s infinite ease-in-out;
  -moz-animation: loading 1.8s infinite ease-in-out;
  animation: loading 1.8s infinite ease-in-out;
}

@mixin iconLoading() {
  @-webkit-keyframes loading {
    0% {
      stroke: $gray-550;
      fill: $gray-280;
    }
    50% {
      stroke: $skeleton-mid;
      fill: $skeleton-start;
    }
    100% {
      stroke: $gray-550;
      fill: $gray-280;
    }
  }

  @-moz-keyframes loading {
    0% {
      stroke: $gray-550;
      fill: $gray-280;
    }
    50% {
      stroke: $skeleton-mid;
      fill: $skeleton-start;
    }
    100% {
      stroke: $gray-550;
      fill: $gray-280;
    }
  }

  @keyframes loading {
    0% {
      stroke: $gray-550;
      fill: $gray-280;
    }
    50% {
      stroke: $skeleton-mid;
      fill: $skeleton-start;
    }
    100% {
      stroke: $gray-550;
      fill: $gray-280;
    }
  }
  -webkit-animation: loading 1.8s infinite ease-in-out;
  -moz-animation: loading 1.8s infinite ease-in-out;
  animation: loading 1.8s infinite ease-in-out;
}
