$font-size-header1: 25px;
$font-size-header2: 24px;
$font-size-header3: 20px;
$font-size-header4: 18px;
$font-size-header5: 16px;
$font-size-body1: 14px;
$font-size-body2: 13px;
$font-size-body3: 12px;
$font-size-body4: 10px;

$line-height-header1: 30px;
$line-height-header2: 26px;
$line-height-header3: 24px;
$line-height-header4: 21px;
$line-height-header5: 19px;
$line-height-body1: 17px;
$line-height-body2: 16px;
$line-height-body3: 14px;
$line-height-body4: 12px;

@mixin font-style-header1() {
  font-size: $font-size-header1;
  line-height: $line-height-header1;
  letter-spacing: 0.02em;
}

@mixin font-style-header2() {
  font-size: $font-size-header2;
  line-height: $line-height-header2;
  letter-spacing: 0.02em;
}

@mixin font-style-header3() {
  font-size: $font-size-header3;
  line-height: $line-height-header3;
  letter-spacing: 0.02em;
}

@mixin font-style-header4() {
  font-size: $font-size-header4;
  line-height: $line-height-header4;
  letter-spacing: 0.02em;
}

@mixin font-style-header5() {
  font-size: $font-size-header5;
  line-height: $line-height-header5;
  letter-spacing: 0.02em;
}

@mixin font-style-body1() {
  font-size: $font-size-body1;
  line-height: $line-height-body1;
  letter-spacing: 0.02em;
}

@mixin font-style-body2() {
  font-size: $font-size-body2;
  line-height: $line-height-body2;
  letter-spacing: 0.02em;
}

@mixin font-style-body3() {
  font-size: $font-size-body3;
  line-height: $line-height-body3;
  letter-spacing: 0.02em;
}

@mixin font-style-body4() {
  font-size: $font-size-body4;
  line-height: $line-height-body4;
  letter-spacing: 0.02em;
}

@mixin typography($size) {
  @if ($size==25) {
    @include font-style-header1;
  }
  @if ($size==24) {
    @include font-style-header2;
  }
  @if ($size==20) {
    @include font-style-header3;
  }
  @if ($size==18) {
    @include font-style-header4;
  }
  @if ($size==16) {
    @include font-style-header5;
  }
  @if ($size==14) {
    @include font-style-body1;
  }
  @if ($size==13) {
    @include font-style-body2;
  }
  @if ($size==12) {
    @include font-style-body3;
  }
  @if ($size==10) {
    @include font-style-body4;
  }
}
