.product-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray-280;
  padding: 20px 23px;
  background-color: $white;
  cursor: pointer;

  @include tablet() {
    flex-direction: column;
    border: 0;
  }

  .product-img {
    min-width: 113px;
    max-height: 113px;
    width: 113px;
    height: 113px;
    @include tablet() {
      min-width: 200px;
      min-height: 200px;
      width: 200px;
      height: 200px;
    }
  }

  .text-box {
    overflow: hidden;
    width: 100%;
    @include tablet() {
      width: 200px;
    }
    display: flex;
    flex-direction: column;
    @include mobile() {
      margin-left: 16px;
    }

    .title {
      @include textOverflow();
      @include tablet() {
        margin-top: 7px;
      }
      white-space: normal;
    }

    .size-like {
      margin-top: 7px;
      color: $gray-550;
    }

    .price {
      margin-top: 7px;
      color: $primary;
    }

    .date {
      margin-top: 7px;
      color: $gray-550;
      @include mobile() {
        text-align: right;
      }
    }
  }
}
