.common-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray-280;
  padding: 20px 23px;
  cursor: pointer;

  .text-box {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @include tablet() {
      width: 200px;
    }
    .title {
      @include textOverflow();
      white-space: normal;
    }
    .size-like {
      margin-top: 7px;
      color: $gray-550;
    }
    .price {
      margin-top: 7px;
      color: $primary;
    }
    .date {
      margin-top: 7px;
      color: $gray-550;
    }
  }
}

.product-item {
  @include tablet() {
    flex-direction: column;
    border: 0;
  }

  .product-img {
    min-width: 113px;
    max-height: 113px;
    width: 113px;
    height: 113px;
    @include tablet() {
      min-width: 200px;
      min-height: 200px;
      width: 200px;
      height: 200px;
    }
  }

  .text-box {
    width: 100%;
    @include mobile() {
      margin-left: 16px;
    }
    .title {
      @include tablet() {
        margin-top: 7px;
      }
    }
    .date {
      @include mobile() {
        text-align: right;
      }
    }
  }
}

.recommend-item {
  width: 100%;
  flex-direction: column;
  border: 0;
  @include tablet() {
    &:nth-child(2n + 1) {
      padding-right: 0;
    }
    &:nth-child(2n) {
      padding-left: 0;
    }
  }

  .product-img {
    max-width: 200px;
  }

  .clothes-tag {
    position: absolute;
    bottom: 12px;
    left: 12px;
    padding: 3px 5px;
    border-radius: $border-radius;
    background-color: rgba($black-600, 0.6);
    color: $white;
  }
  .top {
    background-color: rgba($primary, 0.8);
  }

  .text-box {
    max-width: 200px;
    width: 100%;
    .title {
      margin-top: 7px;
    }
  }
}
