.slide-box {
  position: relative;
  .slide {
    height: 100vw;
    max-height: 600px;
    img {
      object-fit: contain;
    }
  }

  .page-num {
    position: absolute;
    bottom: 0;
    margin: 0 0 23px 23px;
    background-color: rgba(0, 0, 0, 0.2);
    color: $white;
  }
}
