.main-box {
  position: relative;
  overflow: hidden;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px;
  word-break: keep-all;
  .btn {
    margin: 10px 11px;
    padding: 6px 14px 5px;
  }
}

.sub-box {
  background-color: $category-box;
  word-break: keep-all;
}

.box-clicked {
  height: auto;
}

.arrow {
  position: absolute;
  svg {
    width: 18px;
    height: 9px;
  }
  top: 22px;
  right: 23px;
  &-clicked {
    transform: rotate(180deg);
  }
}
