.main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  word-break: keep-all;
  .category-list {
    overflow: hidden;
    height: 50px;
    flex-wrap: wrap;
    margin: 0 auto 0 0;
    &-clicked {
      height: auto;
    }
  }
}

.sub-box {
  background-color: $category-box;
  word-break: keep-all;
}

.arrow {
  margin: 21px 11px auto auto;
  svg {
    width: 18px;
    height: 9px;
  }
  &-clicked {
    transform: rotate(180deg);
  }
}
