.main-box {
  overflow: hidden;
  height: 30px;
  display: flex;
  padding: 15px 12px 15px;
  word-break: keep-all;
  .btn {
    margin: 0 11px;
    padding: 6px 14px 5px;
  }
}

.sub-box {
  background-color: $product-footer-icon-box;
  word-break: keep-all;
}
