.product-cell {
  display: flex;
  border-top: 1px solid $product-border;
  padding: 9px 0;

  .label {
    max-width: 50%;
    font-weight: 700;
    @include typography(16);
    @include mobile() {
      @include typography(14);
    }
    color: $gray-590;
  }

  .desc {
    display: inline-block;
    margin: 0 0 0 auto;
    font-weight: 400;
    text-align: right;
    word-break: keep-all;
    word-wrap: break-word;
  }
}

.bottom {
  border-bottom: 1px solid $product-border;
}

.top {
  border: 0;
}
