.header-box {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  .btn {
    @include icon-btn(30px, 30px, 23px, 23px);
    padding: 23px;
  }
  .more {
    margin: 0 0 0 auto;
  }
}
