@import '@styles/main.scss';
@import '@styles/_mixin.scss';

.img-slides {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 360px;
  display: flex;
  background-color: $gray-500;
  transition: all 0.3s ease 0s;
  .img-lists {
    display: flex;
    background-color: $gray-500;
    .img-wrapper {
      position: relative;
      width: 360px;
      height: 360px;
      img {
        object-fit: contain;
        -webkit-user-drag: none;
      }
    }
  }
}
