.basic-info-layout {
  padding-bottom: 110px;
}

.height-input {
  @include tablet() {
    width: 50%;
  }
  display: flex;
  align-items: center;
  .height-cm {
    margin-left: 15px;
    font-weight: 700;
    @include typography(20);
    color: $black-600;
  }
}
