.btn-box {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  @include mobile() {
    display: flex;
  }
  gap: 8px;
  .btn {
    width: 100%;
    min-width: 70px;
    padding: 15px 0;
  }

  &-color {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    @include mobile() {
      grid-template-columns: repeat(9, 1fr);
    }
    &-no-check {
      @include mobile() {
        display: flex;
      }
    }
    gap: 8px;
    .btn {
      height: 50px;
    }
  }
}
