.btn-box {
  overflow: hidden;
  display: grid;
  gap: 8px;
}

.btn {
  width: 100%;
  min-width: 70px;
  padding: 15px 0;
  &-color {
    height: 50px;
  }
}

.column-4 {
  @include column-4();
}
.column-6 {
  @include column-6();
}
.column-8 {
  @include column-8();
}
.column-9 {
  @include column-9();
}
.column-12 {
  @include column-12();
}
.column-13 {
  @include column-13();
}
.column-15 {
  @include column-15();
}
.column-17 {
  @include column-17();
}
.column-19 {
  @include column-19();
}
.column-21 {
  @include column-21();
}
