.product-container {
  height: calc(var(--vh, 1vh) * 100);
  box-sizing: border-box;
  padding-top: 185px;
  @include minMobile() {
    padding-top: 219px;
  }

  .product-list {
    display: grid;
    @include tablet() {
      grid-template-columns: repeat(3, 33.3%);
    }
    @include laptop() {
      grid-template-columns: repeat(4, 25%);
    }
  }

  .recommend-list {
    @include tablet() {
      grid-template-columns: repeat(2, 50%);
    }
  }

  .recommend-item {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .no-products {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - 185px);
    @include minMobile() {
      height: calc(var(--vh, 1vh) * 100 - 219px);
    }
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: $white;
  }
}
