.filter-header {
  position: fixed;
  width: 100%;
  max-width: 1024px;
  height: 60px;
  padding: 22px 27px;
  box-sizing: border-box;
  border-bottom: 1px solid $gray-280;
  background-color: $white;
  &-box {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    .filter-close {
      z-index: 99;
      display: flex;
    }
    .title {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      font-weight: 700;
      @include typography(18);
    }
  }
}
