.product-header {
  display: flex;
  margin-bottom: 19px;
  justify-content: space-between;
  .product-title {
    font-weight: 700;
    @include typography(24);
    @include mobile() {
      @include typography(20);
    }
    color: $black-600;
  }
  .product-category {
    font-weight: 700;
    @include typography(14);
    @include mobile() {
      @include typography(12);
    }
    color: $gray-550;
  }
}
