.product-header {
  display: flex;
  margin-bottom: 19px;
  justify-content: space-between;
  .product-title-box {
    margin-right: 20px;
  }

  .product-title {
    font-weight: 700;
    @include typography(24);
    @include mobile() {
      @include typography(20);
    }
    color: $black-600;
  }

  .product-category {
    font-weight: 700;
    @include typography(14);
    @include mobile() {
      @include typography(12);
    }
    color: $gray-550;
  }

  .product-status {
    @include border(border, 5px, $gray-280);
    width: 80px;
    height: fit-content;
    padding: 5px 10px;
    text-align: center;
  }
  .sale {
    border-color: $second;
    background-color: rgba($second, 0.5);
    color: $second-font-color;
  }
  .soldout {
    border-color: $third;
    background-color: rgba($third, 0.7);
    color: $white;
  }
  .reserved {
    border-color: $primary;
    background-color: rgba($primary, 0.8);
    color: $white;
  }
}
