.product-container {
  padding-top: 185px;
  @include minMobile() {
    padding-top: 219px;
  }
  .product-list {
    @include tablet() {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
