.layout {
  overflow-y: auto;
  height: calc(var(--vh, 1vh) * 100);
  background-color: $white;

  .body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 962px;
    padding: 30px 31px;
    margin: 0 auto;
    background-color: $white;
  }
  .no-padding {
    max-width: 1024px;
    padding: 0;
  }
}
