@mixin mobile {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin pc {
  @media (min-width: #{$pc}) {
    @content;
  }
}

@mixin icon-btn($width, $height, $mWidth, $mHeight) {
  width: $width;
  height: $height;
  @include mobile() {
    width: $mWidth;
    height: $mHeight;
  }
  cursor: pointer;
}

@mixin modal() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1024px;
}

@mixin btn-footer() {
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

@mixin input-range($width, $height, $top) {
  position: absolute;
  top: $top;
  width: 100%;
  pointer-events: none;
  background-color: transparent;
  &::-webkit-slider-thumb {
    pointer-events: all;
    width: $width;
    height: $height;
    padding: calc($height / 2) calc($width / 2);
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
  }
  &::-moz-range-thumb {
    pointer-events: all;
    width: $width;
    height: $height;
    padding: calc($height / 2) calc($width / 2);
    appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  &::-ms-thumb {
    pointer-events: all;
    width: $width;
    height: $height;
    padding: calc($height / 2) calc($width / 2);
    appearance: none;
    cursor: pointer;
  }
}

@mixin input-border($color) {
  box-sizing: border-box;
  border: 1px solid $color;
  border-radius: 5px;
}

@mixin halfWidth() {
  @include tablet() {
    width: 50%;
  }
}

@mixin required-header($marginBottom) {
  display: flex;
  align-items: center;
  margin-bottom: $marginBottom;
}

@mixin visually-hidden {
  z-index: -1;
  overflow: hidden;
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

@mixin loading() {
  @-webkit-keyframes loading {
    0% {
      background-color: $skeleton-start;
    }
    50% {
      background-color: $skeleton-mid;
    }
    100% {
      background-color: $skeleton-start;
    }
  }

  @-moz-keyframes loading {
    0% {
      background-color: $skeleton-start;
    }
    50% {
      background-color: $skeleton-mid;
    }
    100% {
      background-color: $skeleton-start;
    }
  }

  @keyframes loading {
    0% {
      background-color: $skeleton-start;
    }
    50% {
      background-color: $skeleton-mid;
    }
    100% {
      background-color: $skeleton-start;
    }
  }
  -webkit-animation: loading 1.8s infinite ease-in-out;
  -moz-animation: loading 1.8s infinite ease-in-out;
  animation: loading 1.8s infinite ease-in-out;
}
