.radio-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid $gray-280;
  border-radius: 50%;
  background: $white;
}
.clicked {
  border: 1px solid $primary;
}
