.product-footer {
  @include btn-footer();
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;

  .footer-wrapper {
    max-width: 1024px;
    width: 100%;

    .icon-text-box {
      height: 40px;
      display: flex;
      padding: 0 23px;
      box-sizing: border-box;
      border-bottom: 1px solid $gray-500;
      background-color: $product-footer-icon-box;
      .time {
        margin-left: auto;
      }
    }

    .attractive-box {
      height: 40px;
      display: flex;
      align-items: center;
      padding: 10px 23px;
      .price-box {
        display: flex;
        flex-direction: column;
        margin-left: 18px;
        .delivery {
          @include typography(14);
          @include mobile() {
            @include typography(10);
          }
        }
        .price {
          @include typography(20);
        }
      }

      .product-btn {
        max-width: 200px;
        width: 100%;
        @include mobile() {
          width: 110px;
        }
        height: 40px;
        margin-right: 0;
      }
    }
  }
}
