.profile {
  display: flex;
  align-items: center;
  padding: 12px 16px 12px 23px;
  &-box {
    display: flex;
    align-items: center;
    .nickname {
      max-width: 110px;
      margin-left: 9px;
      font-weight: 700;
      @include typography(20);
      @include mobile() {
        @include typography(16);
      }
      color: $black-600;
    }
  }
}
